<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite Test #17" verbose="1">
    <listeners>
        <listener class-name="reports.SuiteListenerReport"/>
        <listener class-name="reports.TestListenerReport"/>
    </listeners>

    <test name="Check cart - Smoke 1">
        <classes>
            <class name="CheckCartTest"/>
        </classes>
    </test>
    <test name="Search in catalog - Smoke 2">
        <classes>
            <class name="SearchCatalogTest"/>
        </classes>
    </test>

</suite>